.booking {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.image-card {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.btn-pending {
  border-radius: 30px;
  color: red;
  border-color: red;
  --bs-btn-line-height: 0.9px;
  --bs-btn-hover-border-color: red;
  --bs-btn-hover-color: red;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.fa-solid {
  margin-right: 3px;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-right: 5px;
}

.booking-card {
  margin-bottom: 100px;
}

.booking-heading {
  margin-top: 50px;
  text-align: center;
}

.d-flex {
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.position {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
