.image-shadow {
  box-shadow: black 0px 0px 3px;

}

.bg-white {
  background-color: white;
}

.big-image {
  margin: 30px;
}

.small-image {
  margin-right:10px;
  margin-top: 10px;
}

.padding {
  padding: 50px;
  font-size: 20px;
}
