.navbar-lewagon {
  justify-content: space-between;
  background: $cambridge_blue;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

#title {
  font-family: 'Lobster', cursive;
  font-size: 43px;
}
