.relative-position{
  position: relative;
}

.absolute-position {
position: absolute;
bottom: 0;
right: 0;
}

.form-position {
  position: absolute;
  bottom: 0;
}

.no-absolute-position {
position: relative;
}

.form-font {
  font-size: 30px;
}

.margin-auto {
  margin: 35px;
}

.description_div {
  padding: 3px;
}

.padding-left {
  padding-left: 5px;
}
